/*body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Tahoma,Arial,Verdana, 'Times New Roman';
	font-size: 8pt;
	text-align: left;
	color: #000000;
}*/


    
a
{
	color: #2d4b9b;
	text-decoration: none;
}
a:active
{
	border-bottom: 2px dotted Red;
}
a:hover
{
	color: #993300;
	text-decoration: none;
}


.wrap
{
	width: 100%;
	height: 100%;
}



input
{
	font-family: Tahoma,Arial,Verdana, 'Times New Roman';
	font-size: 8pt;
}

select
{
	font-family: Tahoma,Arial,Verdana, 'Times New Roman';
	font-size: 8pt;
}
textarea
{
	font-family: Tahoma,Arial,Verdana, 'Times New Roman';
	font-size: 8pt;
	text-decoration: none;
}

/* Modal Popup CSS*/
.mpBg
{
	background-color: #3753fc;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.mp
{
	background-color: white;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
}
.mpHd
{
	background-color: #616cae;
	border-color: White;
	border-width: 1px;
	color: White;
	font-weight: bold;
	width: 100%;
	height: 16px;
}
.mpClose
{
	text-align: center;
	width: 100%;
}
.mpCloseButton
{
	position: absolute;
	right: 4px;
	width: 17px;
	height: 18px;
}

