
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.modalPopup
{
	background-color: #ffffdd;
	border-width: 1px;
	-moz-border-radius: 5px;
	border-style: solid;
	border-color: Gray;	
	min-width: 350px;
	max-width:400px;
	min-height:150px;
	max-height:250px;	
	top:100px;
	left:150px;
}

.topHandle
{
	background-color: #97bae6;	
}

.table
{
	padding:0;
	margin:0;
}