
.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popupConfirmation
{
	width: 470px;
	height: 300px;	
}

.popup_Container {
	background-color:#fffeb2;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
}

.popup_Titlebar
{
	background: url('titlebar_bg.jpg');
	height: 29px;
	cursor: move;
}

.popup_Body
{
	padding: 5px 0px 0px 0px;
	color: #000000;
	clear: both;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.TitlebarRight 
{
	background:url('cross_icon_normal.png');
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
	margin:10px;
	text-align:center;
	vertical-align:bottom;
}
